.bodyContainer {
  padding: 50px;
  max-width: 1000px;
  margin: auto;
}
li {
  list-style-type: none;
}
.imgContainer {
  height: 90px;
  margin-right: 40px;
}
.moreNews {
  justify-content: space-evenly;
}
.latest {
  border: 1px grey solid;
  margin-left: 10px;
  margin-right: 10px;
}
